@model SampleSecureWeb.ViewModels.ChangePasswordViewModel

<div class="row">
    <div class="col-lg-4">
        <div class="card mb-4">
            <div class="card-header">
                Ubah Kata Sandi
            </div>
            <div class="card-body">
                @if (ViewBag.Massage != null)
                {
                    <div class="alert alert-success">
                        @ViewBag.Massage
                    </div>
                }
                <form asp-action="ChangePassword">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="CurrentPassword" class="form-control form-control-user" placeholder="Kata Sandi Saat Ini">
                        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="NewPassword" class="form-control form-control-user" placeholder="Kata Sandi Baru">
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="ConfirmNewPassword" class="form-control form-control-user" placeholder="Konfirmasi Kata Sandi Baru">
                        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-user btn-block" value="Ubah Kata Sandi">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
